.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0 ;
  border-top: 5px solid #999999;
  border-bottom: 1px solid #999999;
}

.title_wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.title_wrapper .status_container {
  display: flex;
  gap: 20px;
  width: 30%;
}

.title_wrapper .status_container p {
  color: #579125;
  border: 1px solid #579125;
  padding: 1px 15px;
  height: fit-content;
}

.title_wrapper h3 {
  width: 70%;
  font-size: x-large;
}

.main_information_wrapper {
  margin: 20px 0;
  width: 100%;
  height: 50%;
  display: flex;
}

.main_information_wrapper .left_container {
  width: 30%;
}

.main_information_wrapper .left_container .img {
  width: 210px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 143, 43);
}

.main_information_wrapper .right_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right_container .container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right_container .container .label {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.right_container .container .value {
  width: 80%;
}

.sub_information_wrapper {
  height: 30%;
  width: 100%;
  display: flex;
}

.sub_information_wrapper .container {
  display: flex;
  flex-direction: column;
}

.sub_information_wrapper .container {
  width: 33%;
}

.sub_information_wrapper .container .label {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.sub_information_wrapper .container .value {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



/* 
.left_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-color: #f3dada;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  background-color: #fff;
}



.right_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
  padding: 0 30px;
}

.home_info_container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.home_info_label {
  width: 20%;
  margin-right: 10px;
  background-color: #fff;
} */
